.headline {
    font-size:3em;
    font-weight:600;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}

.byline {
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 180%;
    text-align: left;
}

.h1 {
    font-size:2em;
    font-weight:600;
    text-align: left;
}

h2 {
    font-size:3em;
    font-weight: 600;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    font-size:3em;
    font-weight: 900;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:red 
}
.gallery img {
    max-width: 65%;
    width:900px
    height: 900px;
 
}

#content {
    margin: 0 auto;
    width: 900px; 
  }

footer {
    background-color: #030C0B; 
    color: #fff; 
    padding: 20px; 
    text-align:center; 
}

blockquote {
    font: 18px/26px niagara solid; 
    font-style: italic; 
    margin-top: 15px; 
    margin-bottom: 15px; 
    color: red; 
    margin-left: 50px; 
    padding-left: 15px; 
    border-left: 4px solid red; 
    } 

